$xl: 1200px
$lg: 992px
$md: 768px
$xs: 576px


*
	padding: 0
	margin: 0
	border: 0
	font-family: Montserrat, Raleway, BlinkMacSystemFont, 'Segoe UI', sans-serif
*, *:before,*:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
*:focus, *:active
	outline: none
a:focus, a:active
	outline: none
nav, footer, header, aside
	display: block
html, body
	font-size: 100%
	line-height: 1
	font-size: 14px
	-moz-text-size-adjust: 100%
	-webkit-text-size-adjust: none
	-webkit-overflow-scrolling: touch
html
	overflow-x: hidden
	max-width: 1920px
	min-width: 320px
	position: relative
input, button, textarea
	font-family: inherit
textarea
	resize: none
input::-ms-clear
	display: none
button
	cursor: pointer
	background: transparent
button::-moz-focus-inner
	padding: 0
	border: 0
a, a:visited
	text-decoration: none
a:hover
	text-decoration: none
ul li
	list-style: none
img
	vertical-align: top
	max-width: 100%
h1,h2,h3,h4,h5,h6
	font-size: inherit
	font-weight: 400
select
	-webkit-appearance:none

\:root
	--white: rgba(255,255,255,1)
	--white90: rgba(255,255,255,.9)
	--black: rgba(0,0,0,1)
	--black25: rgba(0,0,0,.25)
	--black40: rgba(0,0,0,.4)
	--black60: rgba(0,0,0,.6)
	--black80: rgba(0,0,0,.8)
	--black2: rgba(26,26,26,1)
	--gray: rgba(170,170,170,1)
	--gray2: rgba(139,139,139,1)
	--gray3: rgba(196,196,196,1)
	--gray4: rgba(144,144,144,1)
	--gray-light: rgba(215,215,215,1)


*, a
	color: var(--black)

.fix-cont
	padding-left: 15px
	padding-right: 15px
	margin: 0 auto
	height: 100%
	width: 100%
	min-width: 320px
	@media(min-width:$md)
		max-width: 708px
		padding-left: 0
		padding-right: 0
	@media(min-width:$xl)
		max-width: 1170px
.section-title
	font-weight: 700
	font-size: 14px
	line-height: 130%
	letter-spacing: 0.3em
	text-transform: uppercase
	text-align: center
	margin-left: auto
	margin-right: auto
	width: 210px
	padding: 25px 35px
	border-left: 5px solid var(--black)
	border-right: 5px solid var(--black)
	@media(min-width:$xl)
		font-size: 30px
		line-height: 38px
		width: 410px
.separator
	width: 100%
	display: flex
	justify-content: center
	&_black
		& svg
			& line, path
				stroke: var(--black)

.plain-text
	font-weight: 300
	font-size: 12px
	line-height: 16px
	@media(min-width:$xl)
		font-size: 15px
		line-height: 19px
.bg-box
	background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), var(--white)
.pc-only
	display: none
	@media(min-width:$xl)
		display: block

input, textarea
	border-left: 5px solid var(--black)
	border-bottom: 5px solid var(--black)
	padding-left: 10px
	background-color: transparent
textarea
	padding-top: 10px
.underline-hover
	@media(min-width:$xl)
	    position: relative
	    &:before
	        content: ''
	        position: absolute
	        width: 100%
	        height: 2px
	        background: var(--gray)
	        left: 0
	        bottom: 0
	        transition: .5s
	        transform: scale(0)
	        transform-origin: left
	    &:hover
	        &:before
	            transform: scale(1)
.red-text
	color: red